
@tailwind base;
@tailwind components;
@tailwind utilities;

.before-enter {
opacity: 0;
transform: translateY(100px);
transition: all 1s ease-out;
}
.enter {
opacity: 1;
transform: translateY(0px);
}
